---
layout: default
current: tags
class: 'tags-template'
navigation: True
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->
<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner header-flex">   
        <div class="site-header-content">
            {% if page.current != 'home' %}
                {% if site.logo %}
                    <a href="/"><img class="site-logo" src="{{ "/" | relative_url }}{{ site.logo }}" alt="{{ site.title }}"/></a>
                {% else %}
                    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
                {% endif %}
            {% else %}
                {% if site.logo %}
                    <a href="/"><img class="site-logo" src="{{ "/" | relative_url }}{{ site.logo }}" alt="{{ site.title }}"/></a>
                {% else %}
                    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
                {% endif %}

                <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
            {% endif %}
        </div>

        {% include site-nav.html %}
    </div>
</header>


<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
      <div class="post-feed">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include tag-card.html %}
      </div>
  </div>
</main>
