<div class="embedded-tasks">
	<ul>
		<li>
			<div class="checkbox"></div>
			1. Do something
		</li>
		<li>
			<div class="checkbox"></div>
			2. Do something
		</li>
		<li>
			<div class="checkbox"></div>
			3. Do something
		</li>
		<li>
			<div class="checkbox"></div>
			4. Do something
		</li>
		<li class="checked">
			<div class="checkbox"></div>
			5. Do something
		</li>
	</ul>
</div>