---
layout: default
current: post
class: post-template
disqus: false
---

<!-- default -->

<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">
            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{ page.date | date:'%e %B %Y' }}">{{ page.date | date:'%e %B %Y' }}</time>
                </section>
            </header>

            {% if page.cover %}
            <figure class="post-full-image" style="background-image: url({{ "/" | relative_url }}{{ page.cover }})">
            </figure>
            {% endif %}

            {% if page.background %}
            <figure class="post-full-image" style="background-color: #{{ page.background }}"></figure>
            {% endif %}

            <div class="logo">
              <img src="{{ "/" | relative_url }}{{ page.logo }}" style="max-width: 400px; width: 80%;" alt="{{ page.title }}">
            </div>

            <section class="padding white-background">
              <a href="{{ "/" | relative_url }}{{ page.picture_cover }}" rel="lightbox" class="screenshot-overlay"
                style="background-image: url({{ "/" | relative_url }}{{ page.picture_cover }});"></a>
            </section>
            
            <section class="padding border-top project-images white-background">
              <div class="row">
                <div class="col-sm-4">
                  <a href="{{ "/" | relative_url }}{{ page.picture_gallery_1 }}" rel="lightbox" class="project-image">
                    <img src="{{ "/" | relative_url }}{{ page.picture_gallery_1 | img_url: '1000x600' }}" style="max-width: 100%;">
                  </a>
                </div>
                <div class="col-sm-4">
                  <a href="{{ "/" | relative_url }}{{ page.picture_gallery_2 }}" rel="lightbox" class="project-image">
                    <img src="{{ "/" | relative_url }}{{ page.picture_gallery_2 | img_url: '1000x600' }}" style="max-width: 100%;">
                  </a>
                </div>
                <div class="col-sm-4">
                  <a href="{{ "/" | relative_url }}{{ page.picture_gallery_3 }}" rel="lightbox" class="project-image">
                    <img src="{{ "/" | relative_url }}{{ page.picture_gallery_3 | img_url: '1000x600' }}" style="max-width: 100%;">
                  </a>
                </div>
              </div>

              <div class="clear"></div>
            </section>

            <section class="padding half-padding center" style="background-color: #{{ page.background }};">
              <ul class="tags">
                {% for tag in page.tags %} 
                  <li>{{ tag }}</li>
                {% endfor %}
              </ul>
            </section>

            <section class="post-full-content" style="padding: 40px;">
                <div class="kg-card-markdown">
                    {{ content }}
                </div>
            </section>

            <!-- Disqus comments loading -->
            {% if site.disqus or page.disqus %}
                <section class="post-full-comments" style="margin-top: 40px;">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ site.production_url }}{{ "/" | relative_url }}';
                            this.page.identifier = '{{ site.title }}';
                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section>
            {% endif %}

        </article>

    </div>
</main>

<!-- Links to Previous/Next posts -->
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            <!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs -->
            {% if page.previous %}
                {% include project-card-previous.html %}
            {% endif %}

            <!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs -->
            {% if page.next %}
                {% include project-card-next.html %}
            {% endif %}
        </div>
    </div>
</aside>

<!-- Floating header which appears on-scroll, included from includes/floating-header.hbs -->
{% include floating-header.html %}

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
